-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "KybStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('OWNER', 'ADMIN', 'MEMBER');

-- CreateEnum
CREATE TYPE "Chain" AS ENUM ('ARC_TESTNET', 'ARC_MAINNET', 'ETH_SEPOLIA', 'ETH_MAINNET', 'SOLANA', 'BASE', 'AVAX', 'ARBITRUM');

-- CreateEnum
CREATE TYPE "LedgerAccountType" AS ENUM ('OPERATING', 'RESERVE', 'PAYROLL', 'SAVINGS', 'CUSTOM');

-- CreateEnum
CREATE TYPE "LedgerDirection" AS ENUM ('CREDIT', 'DEBIT');

-- CreateEnum
CREATE TYPE "LedgerReferenceType" AS ENUM ('ONCHAIN_TX', 'INTERNAL_TRANSFER', 'INVOICE', 'PAYROLL_RUN', 'SAVINGS_SWEEP', 'DCA', 'ADJUSTMENT', 'ALLOCATION_RULE', 'YIELD_DEPLOYMENT', 'YIELD_REDEMPTION');

-- CreateEnum
CREATE TYPE "OnchainDirection" AS ENUM ('IN', 'OUT');

-- CreateEnum
CREATE TYPE "OnchainTxStatus" AS ENUM ('PENDING', 'CONFIRMED', 'FAILED');

-- CreateEnum
CREATE TYPE "WebhookEventStatus" AS ENUM ('RECEIVED', 'PROCESSED', 'FAILED');

-- CreateEnum
CREATE TYPE "IdentifierType" AS ENUM ('USERNAME', 'ADDRESS');

-- CreateEnum
CREATE TYPE "IdempotencyKeyStatus" AS ENUM ('PENDING', 'COMPLETED', 'FAILED');

-- CreateEnum
CREATE TYPE "AllocationRuleType" AS ENUM ('PERCENTAGE', 'FIXED_AMOUNT');

-- CreateEnum
CREATE TYPE "AllocationTrigger" AS ENUM ('ON_INCOMING_PAYMENT', 'SCHEDULED');

-- CreateEnum
CREATE TYPE "AllocationExecutionStatus" AS ENUM ('EXECUTED', 'SKIPPED_ZERO_AMOUNT', 'FAILED');

-- CreateEnum
CREATE TYPE "PayType" AS ENUM ('SALARY', 'HOURLY', 'CONTRACT');

-- CreateEnum
CREATE TYPE "PayrollFrequency" AS ENUM ('WEEKLY', 'BIWEEKLY', 'MONTHLY');

-- CreateEnum
CREATE TYPE "PayrollRunStatus" AS ENUM ('DRAFT', 'PENDING_APPROVAL', 'PROCESSING', 'COMPLETED', 'FAILED');

-- CreateEnum
CREATE TYPE "PayrollRunItemStatus" AS ENUM ('PENDING', 'SENT', 'CONFIRMED', 'FAILED');

-- CreateEnum
CREATE TYPE "InvoiceStatus" AS ENUM ('DRAFT', 'SENT', 'VIEWED', 'PAID', 'OVERDUE', 'VOID');

-- CreateEnum
CREATE TYPE "InvoiceEventType" AS ENUM ('CREATED', 'SENT', 'VIEWED', 'REMINDER_SENT', 'PAID', 'VOID');

-- CreateEnum
CREATE TYPE "InvoiceCurrency" AS ENUM ('USDC', 'EURC');

-- CreateEnum
CREATE TYPE "PaymentLinkType" AS ENUM ('FIXED_AMOUNT', 'OPEN_AMOUNT');

-- CreateEnum
CREATE TYPE "PaymentLinkStatus" AS ENUM ('ACTIVE', 'PAUSED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "PaymentLinkPaymentStatus" AS ENUM ('PENDING', 'SWEEPING', 'CONFIRMED', 'FAILED', 'WRONG_AMOUNT_REFUNDED');

-- CreateEnum
CREATE TYPE "PaymentMethod" AS ENUM ('WALLET', 'CARD');

-- CreateEnum
CREATE TYPE "YieldPositionStatus" AS ENUM ('ACTIVE', 'REDEEMED');

-- CreateEnum
CREATE TYPE "SavingsRuleTrigger" AS ENUM ('PERCENTAGE_OF_INCOME', 'ROUND_UP', 'FIXED_RECURRING');

-- CreateEnum
CREATE TYPE "SavingsRuleExecutionStatus" AS ENUM ('EXECUTED', 'SKIPPED_ZERO_AMOUNT', 'SKIPPED_FLOOR_PROTECTED', 'FAILED');

-- CreateEnum
CREATE TYPE "YieldRedemptionStatus" AS ENUM ('PENDING', 'PROCESSING', 'COMPLETED', 'FAILED');

-- CreateEnum
CREATE TYPE "RecurringTransferFrequency" AS ENUM ('DAILY', 'WEEKLY', 'BIWEEKLY', 'MONTHLY');

-- CreateEnum
CREATE TYPE "RecurringTransferStatus" AS ENUM ('ACTIVE', 'PAUSED', 'CANCELLED', 'COMPLETED');

-- CreateEnum
CREATE TYPE "RecurringTransferExecutionStatus" AS ENUM ('PENDING', 'SUCCESS', 'FAILED_INSUFFICIENT_FUNDS', 'FAILED_OTHER');

-- CreateEnum
CREATE TYPE "TransactionCategoryKind" AS ENUM ('SYSTEM', 'CUSTOM');

-- CreateEnum
CREATE TYPE "CategorizationSource" AS ENUM ('RULE', 'LLM', 'MANUAL');

-- CreateEnum
CREATE TYPE "AnomalyType" AS ENUM ('LARGE_OUTFLOW', 'NEW_COUNTERPARTY_LARGE_PAYMENT');

-- CreateEnum
CREATE TYPE "AnomalyStatus" AS ENUM ('OPEN', 'DISMISSED');

-- CreateEnum
CREATE TYPE "OtpPurpose" AS ENUM ('PASSWORD_RESET', 'EMAIL_VERIFICATION');

-- CreateEnum
CREATE TYPE "MultisigProposalStatus" AS ENUM ('PENDING', 'EXECUTED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "OnchainAgreementStatus" AS ENUM ('CREATED', 'FUNDED', 'ACTIVE', 'SETTLED', 'CANCELLED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "OnchainAgreementModule" AS ENUM ('NONE', 'CONDITIONAL', 'STREAM');

-- CreateEnum
CREATE TYPE "OnchainProtocolAction" AS ENUM ('CREATE', 'FUND', 'ACTIVATE', 'CANCEL', 'EXPIRE', 'RELEASE', 'REFUND', 'GRANT_AUTH', 'REVOKE_AUTH', 'REGISTER_CONDITION', 'AUTHORIZE_CONDITION', 'RELEASE_CONDITION', 'CREATE_STREAM', 'CLAIM_STREAM', 'CANCEL_STREAM');

-- CreateTable
CREATE TABLE "organizations" (
    "id" TEXT NOT NULL,
    "legalName" TEXT NOT NULL,
    "username" TEXT,
    "defaultLedgerAccountId" TEXT,
    "kybStatus" "KybStatus" NOT NULL DEFAULT 'PENDING',
    "kybApprovedAt" TIMESTAMP(3),
    "kybApprovedBy" TEXT,
    "circleEntityId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "organizations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT,
    "emailVerified" TIMESTAMP(3),
    "name" TEXT,
    "role" "UserRole" NOT NULL DEFAULT 'MEMBER',
    "onboardingCompleted" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "accounts" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,

    CONSTRAINT "accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sessions" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "verification_tokens" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL
);

-- CreateTable
CREATE TABLE "otps" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "purpose" "OtpPurpose" NOT NULL,
    "code" TEXT NOT NULL,
    "attempts" INTEGER NOT NULL DEFAULT 0,
    "consumedAt" TIMESTAMP(3),
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "otps_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "wallets" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "circleWalletId" TEXT NOT NULL,
    "circleWalletSetId" TEXT,
    "arcAddress" TEXT NOT NULL,
    "chain" "Chain" NOT NULL DEFAULT 'ARC_TESTNET',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "wallets_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ledger_accounts" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "walletId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "type" "LedgerAccountType" NOT NULL DEFAULT 'CUSTOM',
    "isYieldEnabled" BOOLEAN NOT NULL DEFAULT true,
    "yieldAllocationPct" INTEGER DEFAULT 10000,
    "minimumBalanceFloor" BIGINT NOT NULL DEFAULT 0,
    "archived" BOOLEAN NOT NULL DEFAULT false,
    "archivedAt" TIMESTAMP(3),
    "archivedBy" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ledger_accounts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ledger_entries" (
    "id" TEXT NOT NULL,
    "ledgerAccountId" TEXT NOT NULL,
    "amount" BIGINT NOT NULL,
    "direction" "LedgerDirection" NOT NULL,
    "referenceType" "LedgerReferenceType" NOT NULL,
    "referenceId" TEXT NOT NULL,
    "balanceAfter" BIGINT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ledger_entries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "onchain_transactions" (
    "id" TEXT NOT NULL,
    "walletId" TEXT NOT NULL,
    "txHash" TEXT,
    "direction" "OnchainDirection" NOT NULL,
    "amount" BIGINT NOT NULL,
    "counterpartyAddress" TEXT NOT NULL,
    "chain" "Chain" NOT NULL,
    "sourceChain" "Chain",
    "status" "OnchainTxStatus" NOT NULL DEFAULT 'PENDING',
    "circleTransactionId" TEXT,
    "idempotencyKey" TEXT,
    "rawPayload" JSONB,
    "memo" TEXT,
    "referenceType" "LedgerReferenceType",
    "referenceId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "confirmedAt" TIMESTAMP(3),

    CONSTRAINT "onchain_transactions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "webhook_events" (
    "id" TEXT NOT NULL,
    "source" TEXT NOT NULL DEFAULT 'circle',
    "eventType" TEXT,
    "signatureOk" BOOLEAN NOT NULL DEFAULT false,
    "rawPayload" JSONB NOT NULL,
    "status" "WebhookEventStatus" NOT NULL DEFAULT 'RECEIVED',
    "processError" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "processedAt" TIMESTAMP(3),

    CONSTRAINT "webhook_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "contacts" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "displayName" TEXT NOT NULL,
    "identifier" TEXT NOT NULL,
    "identifierType" "IdentifierType" NOT NULL,
    "notes" TEXT,
    "lastPaidAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "contacts_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "idempotency_keys" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "endpoint" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "requestHash" TEXT NOT NULL,
    "status" "IdempotencyKeyStatus" NOT NULL DEFAULT 'PENDING',
    "responseBody" JSONB,
    "responseStatus" INTEGER,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "idempotency_keys_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "invoices" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "recipientIdentifier" TEXT NOT NULL,
    "recipientEmail" TEXT,
    "lineItems" JSONB NOT NULL,
    "subtotal" BIGINT NOT NULL,
    "taxAmount" BIGINT NOT NULL DEFAULT 0,
    "total" BIGINT NOT NULL,
    "currency" "InvoiceCurrency" NOT NULL DEFAULT 'USDC',
    "status" "InvoiceStatus" NOT NULL DEFAULT 'DRAFT',
    "dueDate" TIMESTAMP(3) NOT NULL,
    "paymentLinkId" TEXT,
    "paidTxId" TEXT,
    "reminderCount" INTEGER NOT NULL DEFAULT 0,
    "lastReminderAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "sentAt" TIMESTAMP(3),
    "paidAt" TIMESTAMP(3),

    CONSTRAINT "invoices_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "invoice_events" (
    "id" TEXT NOT NULL,
    "invoiceId" TEXT NOT NULL,
    "eventType" "InvoiceEventType" NOT NULL,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "invoice_events_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payment_links" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "type" "PaymentLinkType" NOT NULL,
    "amount" BIGINT,
    "description" TEXT,
    "status" "PaymentLinkStatus" NOT NULL DEFAULT 'ACTIVE',
    "expiresAt" TIMESTAMP(3),
    "maxUses" INTEGER,
    "useCount" INTEGER NOT NULL DEFAULT 0,
    "receivingLedgerAccountId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "payment_links_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payment_link_payments" (
    "id" TEXT NOT NULL,
    "paymentLinkId" TEXT NOT NULL,
    "payerIdentifier" TEXT,
    "method" "PaymentMethod" NOT NULL,
    "amountExpected" BIGINT NOT NULL,
    "amountPaid" BIGINT,
    "status" "PaymentLinkPaymentStatus" NOT NULL DEFAULT 'PENDING',
    "txId" TEXT,
    "circlePaymentId" TEXT,
    "idempotencyKey" TEXT,
    "depositWalletId" TEXT,
    "depositAddress" TEXT,
    "circlePaymentIntentId" TEXT,
    "paymentIntentAddress" TEXT,
    "failureReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "confirmedAt" TIMESTAMP(3),

    CONSTRAINT "payment_link_payments_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "allocation_rules" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "sourceLedgerAccountId" TEXT NOT NULL,
    "targetLedgerAccountId" TEXT NOT NULL,
    "name" TEXT,
    "ruleType" "AllocationRuleType" NOT NULL,
    "value" BIGINT NOT NULL,
    "trigger" "AllocationTrigger" NOT NULL DEFAULT 'ON_INCOMING_PAYMENT',
    "scheduleCron" TEXT,
    "priority" INTEGER NOT NULL DEFAULT 0,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "lastExecutedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "allocation_rules_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "allocation_rule_executions" (
    "id" TEXT NOT NULL,
    "allocationRuleId" TEXT NOT NULL,
    "triggerReferenceType" "LedgerReferenceType" NOT NULL,
    "triggerReferenceId" TEXT NOT NULL,
    "amountAllocated" BIGINT NOT NULL,
    "status" "AllocationExecutionStatus" NOT NULL,
    "ledgerReferenceId" TEXT,
    "errorMessage" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "allocation_rule_executions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payees" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "identifier" TEXT NOT NULL,
    "identifierType" "IdentifierType" NOT NULL,
    "payType" "PayType" NOT NULL DEFAULT 'CONTRACT',
    "defaultAmount" BIGINT,
    "notes" TEXT,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "contactId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "payees_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payroll_schedules" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "sourceLedgerAccountId" TEXT NOT NULL,
    "name" TEXT,
    "frequency" "PayrollFrequency" NOT NULL,
    "nextRunDate" TIMESTAMP(3) NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "payroll_schedules_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payroll_runs" (
    "id" TEXT NOT NULL,
    "payrollScheduleId" TEXT,
    "orgId" TEXT NOT NULL,
    "sourceLedgerAccountId" TEXT NOT NULL,
    "scheduledFor" TIMESTAMP(3),
    "status" "PayrollRunStatus" NOT NULL DEFAULT 'DRAFT',
    "totalAmount" BIGINT NOT NULL DEFAULT 0,
    "initiatedBy" TEXT,
    "approvedBy" TEXT,
    "approvedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "completedAt" TIMESTAMP(3),

    CONSTRAINT "payroll_runs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "payroll_run_items" (
    "id" TEXT NOT NULL,
    "payrollRunId" TEXT NOT NULL,
    "payeeId" TEXT NOT NULL,
    "amount" BIGINT NOT NULL,
    "status" "PayrollRunItemStatus" NOT NULL DEFAULT 'PENDING',
    "txId" TEXT,
    "identifierIssue" BOOLEAN NOT NULL DEFAULT false,
    "failureReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "sentAt" TIMESTAMP(3),
    "confirmedAt" TIMESTAMP(3),

    CONSTRAINT "payroll_run_items_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "yield_positions" (
    "id" TEXT NOT NULL,
    "ledgerAccountId" TEXT NOT NULL,
    "usycAmount" BIGINT NOT NULL,
    "usdcEquivalentAtDeploy" BIGINT NOT NULL,
    "navAtDeploy" TEXT NOT NULL,
    "status" "YieldPositionStatus" NOT NULL DEFAULT 'ACTIVE',
    "deployedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "redeemedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "yield_positions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "yield_redemption_requests" (
    "id" TEXT NOT NULL,
    "ledgerAccountId" TEXT NOT NULL,
    "yieldPositionId" TEXT NOT NULL,
    "usycAmountRequested" BIGINT NOT NULL,
    "usdcAmountSettled" BIGINT,
    "status" "YieldRedemptionStatus" NOT NULL DEFAULT 'PENDING',
    "circleConversionId" TEXT,
    "idempotencyKey" TEXT,
    "ledgerEntryId" TEXT,
    "failureReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "settledAt" TIMESTAMP(3),

    CONSTRAINT "yield_redemption_requests_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "savings_rules" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "name" TEXT,
    "trigger" "SavingsRuleTrigger" NOT NULL,
    "value" BIGINT NOT NULL,
    "scheduleCron" TEXT,
    "lastExecutedAt" TIMESTAMP(3),
    "sourceLedgerAccountId" TEXT NOT NULL,
    "targetLedgerAccountId" TEXT NOT NULL,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "savings_rules_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "savings_rule_executions" (
    "id" TEXT NOT NULL,
    "savingsRuleId" TEXT NOT NULL,
    "triggerReferenceType" "LedgerReferenceType" NOT NULL,
    "triggerReferenceId" TEXT NOT NULL,
    "amountSwept" BIGINT NOT NULL,
    "status" "SavingsRuleExecutionStatus" NOT NULL,
    "ledgerReferenceId" TEXT,
    "yieldPositionId" TEXT,
    "errorMessage" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "savings_rule_executions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "recurring_transfers" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "sourceLedgerAccountId" TEXT NOT NULL,
    "destinationIdentifier" TEXT,
    "destinationLedgerAccountId" TEXT,
    "amount" BIGINT NOT NULL,
    "frequency" "RecurringTransferFrequency" NOT NULL,
    "nextExecutionDate" TIMESTAMP(3) NOT NULL,
    "endDate" TIMESTAMP(3),
    "status" "RecurringTransferStatus" NOT NULL DEFAULT 'ACTIVE',
    "name" TEXT,
    "createdBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "cancelledAt" TIMESTAMP(3),

    CONSTRAINT "recurring_transfers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "recurring_transfer_executions" (
    "id" TEXT NOT NULL,
    "recurringTransferId" TEXT NOT NULL,
    "scheduledDate" TIMESTAMP(3) NOT NULL,
    "executedAt" TIMESTAMP(3),
    "status" "RecurringTransferExecutionStatus" NOT NULL DEFAULT 'PENDING',
    "txId" TEXT,
    "ledgerReferenceId" TEXT,
    "failureReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "recurring_transfer_executions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "transaction_categories" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "kind" "TransactionCategoryKind" NOT NULL DEFAULT 'CUSTOM',
    "archived" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "transaction_categories_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "transaction_categorizations" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "onchainTransactionId" TEXT NOT NULL,
    "categoryId" TEXT NOT NULL,
    "source" "CategorizationSource" NOT NULL,
    "confidenceBps" INTEGER,
    "needsConfirmation" BOOLEAN NOT NULL DEFAULT false,
    "confirmedAt" TIMESTAMP(3),
    "llmSuggestedCategoryName" TEXT,
    "llmReasoning" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "transaction_categorizations_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "spending_anomalies" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "onchainTransactionId" TEXT NOT NULL,
    "type" "AnomalyType" NOT NULL,
    "status" "AnomalyStatus" NOT NULL DEFAULT 'OPEN',
    "message" TEXT NOT NULL,
    "transactionAmount" BIGINT NOT NULL,
    "comparisonAmount" BIGINT,
    "multiplier" DOUBLE PRECISION,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "dismissedAt" TIMESTAMP(3),

    CONSTRAINT "spending_anomalies_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "multisig_signers" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "circleWalletId" TEXT NOT NULL,
    "arcAddress" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "multisig_signers_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "multisig_treasuries" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "contractAddress" TEXT NOT NULL,
    "deploymentTxId" TEXT NOT NULL,
    "threshold" INTEGER NOT NULL,
    "chain" "Chain" NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "multisig_treasuries_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "multisig_proposals" (
    "id" TEXT NOT NULL,
    "treasuryId" TEXT NOT NULL,
    "onChainTransferId" INTEGER NOT NULL,
    "proposedByUserId" TEXT NOT NULL,
    "toAddress" TEXT NOT NULL,
    "amount" BIGINT NOT NULL,
    "reference" TEXT NOT NULL,
    "status" "MultisigProposalStatus" NOT NULL DEFAULT 'PENDING',
    "approvalCount" INTEGER NOT NULL DEFAULT 1,
    "circleTxId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "executedAt" TIMESTAMP(3),

    CONSTRAINT "multisig_proposals_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "onchain_agreements" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "chain" "Chain" NOT NULL DEFAULT 'ARC_TESTNET',
    "agreementId" TEXT NOT NULL,
    "payerAddress" TEXT NOT NULL,
    "tokenAddress" TEXT NOT NULL,
    "moduleType" "OnchainAgreementModule" NOT NULL DEFAULT 'NONE',
    "moduleAddress" TEXT,
    "status" "OnchainAgreementStatus" NOT NULL DEFAULT 'CREATED',
    "principal" BIGINT NOT NULL,
    "deposited" BIGINT NOT NULL DEFAULT 0,
    "released" BIGINT NOT NULL DEFAULT 0,
    "startTime" TIMESTAMP(3) NOT NULL,
    "endTime" TIMESTAMP(3) NOT NULL,
    "activatedAt" TIMESTAMP(3),
    "metadataHash" TEXT,
    "referenceType" "LedgerReferenceType",
    "referenceId" TEXT,
    "lastTxHash" TEXT,
    "lastTxStatus" "OnchainTxStatus" DEFAULT 'PENDING',
    "lastTxSubmittedAt" TIMESTAMP(3),
    "lastTxConfirmedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "onchain_agreements_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "onchain_agreement_actions" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "agreementId" TEXT NOT NULL,
    "action" "OnchainProtocolAction" NOT NULL,
    "actorUserId" TEXT,
    "actorAddress" TEXT,
    "txHash" TEXT,
    "txStatus" "OnchainTxStatus" NOT NULL DEFAULT 'PENDING',
    "amount" BIGINT,
    "counterparty" TEXT,
    "conditionId" TEXT,
    "rawEventPayload" JSONB,
    "errorMessage" TEXT,
    "blockNumber" INTEGER,
    "blockHash" TEXT,
    "logIndex" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "submittedAt" TIMESTAMP(3),
    "confirmedAt" TIMESTAMP(3),
    "failedAt" TIMESTAMP(3),

    CONSTRAINT "onchain_agreement_actions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "onchain_conditions" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "agreementId" TEXT NOT NULL,
    "conditionId" TEXT NOT NULL,
    "amount" BIGINT NOT NULL,
    "beneficiaries" JSONB NOT NULL,
    "earliestRelease" TIMESTAMP(3),
    "deadline" TIMESTAMP(3),
    "authorized" BOOLEAN NOT NULL DEFAULT false,
    "released" BOOLEAN NOT NULL DEFAULT false,
    "releasedAmount" BIGINT NOT NULL DEFAULT 0,
    "authorizedByUserId" TEXT,
    "authorizedTxHash" TEXT,
    "authorizedAt" TIMESTAMP(3),
    "releasedTxHash" TEXT,
    "releasedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "onchain_conditions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "onchain_streams" (
    "id" TEXT NOT NULL,
    "orgId" TEXT NOT NULL,
    "agreementId" TEXT NOT NULL,
    "recipientAddress" TEXT NOT NULL,
    "tokenAddress" TEXT NOT NULL,
    "deposited" BIGINT NOT NULL DEFAULT 0,
    "claimed" BIGINT NOT NULL DEFAULT 0,
    "startTime" TIMESTAMP(3) NOT NULL,
    "endTime" TIMESTAMP(3) NOT NULL,
    "cliff" TIMESTAMP(3),
    "cancelled" BOOLEAN NOT NULL DEFAULT false,
    "cancelledAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "onchain_streams_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "organizations_username_key" ON "organizations"("username");

-- CreateIndex
CREATE INDEX "organizations_kybStatus_idx" ON "organizations"("kybStatus");

-- CreateIndex
CREATE UNIQUE INDEX "users_email_key" ON "users"("email");

-- CreateIndex
CREATE INDEX "users_orgId_idx" ON "users"("orgId");

-- CreateIndex
CREATE INDEX "accounts_userId_idx" ON "accounts"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "accounts_provider_providerAccountId_key" ON "accounts"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "sessions_sessionToken_key" ON "sessions"("sessionToken");

-- CreateIndex
CREATE INDEX "sessions_userId_idx" ON "sessions"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "verification_tokens_token_key" ON "verification_tokens"("token");

-- CreateIndex
CREATE UNIQUE INDEX "verification_tokens_identifier_token_key" ON "verification_tokens"("identifier", "token");

-- CreateIndex
CREATE INDEX "otps_email_purpose_consumedAt_idx" ON "otps"("email", "purpose", "consumedAt");

-- CreateIndex
CREATE INDEX "otps_expiresAt_idx" ON "otps"("expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "wallets_circleWalletId_key" ON "wallets"("circleWalletId");

-- CreateIndex
CREATE UNIQUE INDEX "wallets_arcAddress_key" ON "wallets"("arcAddress");

-- CreateIndex
CREATE INDEX "wallets_orgId_idx" ON "wallets"("orgId");

-- CreateIndex
CREATE INDEX "ledger_accounts_orgId_idx" ON "ledger_accounts"("orgId");

-- CreateIndex
CREATE INDEX "ledger_accounts_orgId_archived_idx" ON "ledger_accounts"("orgId", "archived");

-- CreateIndex
CREATE INDEX "ledger_accounts_walletId_idx" ON "ledger_accounts"("walletId");

-- CreateIndex
CREATE UNIQUE INDEX "ledger_accounts_orgId_name_key" ON "ledger_accounts"("orgId", "name");

-- CreateIndex
CREATE INDEX "ledger_entries_ledgerAccountId_createdAt_idx" ON "ledger_entries"("ledgerAccountId", "createdAt");

-- CreateIndex
CREATE INDEX "ledger_entries_referenceType_referenceId_idx" ON "ledger_entries"("referenceType", "referenceId");

-- CreateIndex
CREATE UNIQUE INDEX "onchain_transactions_txHash_key" ON "onchain_transactions"("txHash");

-- CreateIndex
CREATE UNIQUE INDEX "onchain_transactions_circleTransactionId_key" ON "onchain_transactions"("circleTransactionId");

-- CreateIndex
CREATE UNIQUE INDEX "onchain_transactions_idempotencyKey_key" ON "onchain_transactions"("idempotencyKey");

-- CreateIndex
CREATE INDEX "onchain_transactions_walletId_status_idx" ON "onchain_transactions"("walletId", "status");

-- CreateIndex
CREATE INDEX "onchain_transactions_circleTransactionId_idx" ON "onchain_transactions"("circleTransactionId");

-- CreateIndex
CREATE INDEX "webhook_events_status_idx" ON "webhook_events"("status");

-- CreateIndex
CREATE INDEX "webhook_events_eventType_idx" ON "webhook_events"("eventType");

-- CreateIndex
CREATE INDEX "contacts_orgId_lastPaidAt_idx" ON "contacts"("orgId", "lastPaidAt");

-- CreateIndex
CREATE UNIQUE INDEX "contacts_orgId_identifier_key" ON "contacts"("orgId", "identifier");

-- CreateIndex
CREATE INDEX "idempotency_keys_orgId_idx" ON "idempotency_keys"("orgId");

-- CreateIndex
CREATE UNIQUE INDEX "idempotency_keys_orgId_endpoint_key_key" ON "idempotency_keys"("orgId", "endpoint", "key");

-- CreateIndex
CREATE UNIQUE INDEX "invoices_paymentLinkId_key" ON "invoices"("paymentLinkId");

-- CreateIndex
CREATE UNIQUE INDEX "invoices_paidTxId_key" ON "invoices"("paidTxId");

-- CreateIndex
CREATE INDEX "invoices_orgId_status_idx" ON "invoices"("orgId", "status");

-- CreateIndex
CREATE INDEX "invoices_status_dueDate_idx" ON "invoices"("status", "dueDate");

-- CreateIndex
CREATE INDEX "invoice_events_invoiceId_createdAt_idx" ON "invoice_events"("invoiceId", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "payment_links_slug_key" ON "payment_links"("slug");

-- CreateIndex
CREATE INDEX "payment_links_orgId_status_idx" ON "payment_links"("orgId", "status");

-- CreateIndex
CREATE INDEX "payment_links_status_expiresAt_idx" ON "payment_links"("status", "expiresAt");

-- CreateIndex
CREATE UNIQUE INDEX "payment_link_payments_txId_key" ON "payment_link_payments"("txId");

-- CreateIndex
CREATE UNIQUE INDEX "payment_link_payments_circlePaymentId_key" ON "payment_link_payments"("circlePaymentId");

-- CreateIndex
CREATE UNIQUE INDEX "payment_link_payments_idempotencyKey_key" ON "payment_link_payments"("idempotencyKey");

-- CreateIndex
CREATE UNIQUE INDEX "payment_link_payments_depositWalletId_key" ON "payment_link_payments"("depositWalletId");

-- CreateIndex
CREATE UNIQUE INDEX "payment_link_payments_depositAddress_key" ON "payment_link_payments"("depositAddress");

-- CreateIndex
CREATE UNIQUE INDEX "payment_link_payments_circlePaymentIntentId_key" ON "payment_link_payments"("circlePaymentIntentId");

-- CreateIndex
CREATE INDEX "payment_link_payments_paymentLinkId_status_idx" ON "payment_link_payments"("paymentLinkId", "status");

-- CreateIndex
CREATE INDEX "payment_link_payments_status_createdAt_idx" ON "payment_link_payments"("status", "createdAt");

-- CreateIndex
CREATE INDEX "allocation_rules_orgId_sourceLedgerAccountId_trigger_active_idx" ON "allocation_rules"("orgId", "sourceLedgerAccountId", "trigger", "active");

-- CreateIndex
CREATE INDEX "allocation_rules_trigger_active_idx" ON "allocation_rules"("trigger", "active");

-- CreateIndex
CREATE INDEX "allocation_rule_executions_allocationRuleId_createdAt_idx" ON "allocation_rule_executions"("allocationRuleId", "createdAt");

-- CreateIndex
CREATE INDEX "allocation_rule_executions_status_idx" ON "allocation_rule_executions"("status");

-- CreateIndex
CREATE INDEX "payees_orgId_active_idx" ON "payees"("orgId", "active");

-- CreateIndex
CREATE UNIQUE INDEX "payees_orgId_identifier_key" ON "payees"("orgId", "identifier");

-- CreateIndex
CREATE INDEX "payroll_schedules_orgId_active_idx" ON "payroll_schedules"("orgId", "active");

-- CreateIndex
CREATE INDEX "payroll_schedules_active_nextRunDate_idx" ON "payroll_schedules"("active", "nextRunDate");

-- CreateIndex
CREATE INDEX "payroll_runs_orgId_status_idx" ON "payroll_runs"("orgId", "status");

-- CreateIndex
CREATE INDEX "payroll_runs_orgId_createdAt_idx" ON "payroll_runs"("orgId", "createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "payroll_runs_payrollScheduleId_scheduledFor_key" ON "payroll_runs"("payrollScheduleId", "scheduledFor");

-- CreateIndex
CREATE UNIQUE INDEX "payroll_run_items_txId_key" ON "payroll_run_items"("txId");

-- CreateIndex
CREATE INDEX "payroll_run_items_payrollRunId_status_idx" ON "payroll_run_items"("payrollRunId", "status");

-- CreateIndex
CREATE INDEX "payroll_run_items_payeeId_idx" ON "payroll_run_items"("payeeId");

-- CreateIndex
CREATE INDEX "yield_positions_ledgerAccountId_status_idx" ON "yield_positions"("ledgerAccountId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "yield_redemption_requests_circleConversionId_key" ON "yield_redemption_requests"("circleConversionId");

-- CreateIndex
CREATE UNIQUE INDEX "yield_redemption_requests_idempotencyKey_key" ON "yield_redemption_requests"("idempotencyKey");

-- CreateIndex
CREATE INDEX "yield_redemption_requests_ledgerAccountId_status_idx" ON "yield_redemption_requests"("ledgerAccountId", "status");

-- CreateIndex
CREATE INDEX "yield_redemption_requests_yieldPositionId_idx" ON "yield_redemption_requests"("yieldPositionId");

-- CreateIndex
CREATE INDEX "savings_rules_orgId_sourceLedgerAccountId_trigger_active_idx" ON "savings_rules"("orgId", "sourceLedgerAccountId", "trigger", "active");

-- CreateIndex
CREATE INDEX "savings_rules_trigger_active_idx" ON "savings_rules"("trigger", "active");

-- CreateIndex
CREATE INDEX "savings_rule_executions_savingsRuleId_createdAt_idx" ON "savings_rule_executions"("savingsRuleId", "createdAt");

-- CreateIndex
CREATE INDEX "savings_rule_executions_status_idx" ON "savings_rule_executions"("status");

-- CreateIndex
CREATE INDEX "recurring_transfers_orgId_status_idx" ON "recurring_transfers"("orgId", "status");

-- CreateIndex
CREATE INDEX "recurring_transfers_status_nextExecutionDate_idx" ON "recurring_transfers"("status", "nextExecutionDate");

-- CreateIndex
CREATE UNIQUE INDEX "recurring_transfer_executions_txId_key" ON "recurring_transfer_executions"("txId");

-- CreateIndex
CREATE INDEX "recurring_transfer_executions_recurringTransferId_createdAt_idx" ON "recurring_transfer_executions"("recurringTransferId", "createdAt");

-- CreateIndex
CREATE INDEX "recurring_transfer_executions_status_idx" ON "recurring_transfer_executions"("status");

-- CreateIndex
CREATE INDEX "transaction_categories_orgId_kind_idx" ON "transaction_categories"("orgId", "kind");

-- CreateIndex
CREATE UNIQUE INDEX "transaction_categories_orgId_name_key" ON "transaction_categories"("orgId", "name");

-- CreateIndex
CREATE UNIQUE INDEX "transaction_categorizations_onchainTransactionId_key" ON "transaction_categorizations"("onchainTransactionId");

-- CreateIndex
CREATE INDEX "transaction_categorizations_orgId_categoryId_idx" ON "transaction_categorizations"("orgId", "categoryId");

-- CreateIndex
CREATE INDEX "transaction_categorizations_orgId_needsConfirmation_idx" ON "transaction_categorizations"("orgId", "needsConfirmation");

-- CreateIndex
CREATE INDEX "spending_anomalies_orgId_status_idx" ON "spending_anomalies"("orgId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "spending_anomalies_onchainTransactionId_type_key" ON "spending_anomalies"("onchainTransactionId", "type");

-- CreateIndex
CREATE UNIQUE INDEX "multisig_signers_userId_key" ON "multisig_signers"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "multisig_signers_circleWalletId_key" ON "multisig_signers"("circleWalletId");

-- CreateIndex
CREATE UNIQUE INDEX "multisig_signers_arcAddress_key" ON "multisig_signers"("arcAddress");

-- CreateIndex
CREATE INDEX "multisig_signers_orgId_idx" ON "multisig_signers"("orgId");

-- CreateIndex
CREATE UNIQUE INDEX "multisig_treasuries_orgId_key" ON "multisig_treasuries"("orgId");

-- CreateIndex
CREATE UNIQUE INDEX "multisig_treasuries_contractAddress_key" ON "multisig_treasuries"("contractAddress");

-- CreateIndex
CREATE UNIQUE INDEX "multisig_treasuries_deploymentTxId_key" ON "multisig_treasuries"("deploymentTxId");

-- CreateIndex
CREATE INDEX "multisig_treasuries_orgId_idx" ON "multisig_treasuries"("orgId");

-- CreateIndex
CREATE INDEX "multisig_proposals_treasuryId_idx" ON "multisig_proposals"("treasuryId");

-- CreateIndex
CREATE INDEX "multisig_proposals_treasuryId_status_idx" ON "multisig_proposals"("treasuryId", "status");

-- CreateIndex
CREATE UNIQUE INDEX "multisig_proposals_treasuryId_onChainTransferId_key" ON "multisig_proposals"("treasuryId", "onChainTransferId");

-- CreateIndex
CREATE INDEX "onchain_agreements_orgId_status_idx" ON "onchain_agreements"("orgId", "status");

-- CreateIndex
CREATE INDEX "onchain_agreements_orgId_createdAt_idx" ON "onchain_agreements"("orgId", "createdAt");

-- CreateIndex
CREATE INDEX "onchain_agreements_payerAddress_idx" ON "onchain_agreements"("payerAddress");

-- CreateIndex
CREATE UNIQUE INDEX "onchain_agreements_chain_agreementId_key" ON "onchain_agreements"("chain", "agreementId");

-- CreateIndex
CREATE INDEX "onchain_agreement_actions_agreementId_createdAt_idx" ON "onchain_agreement_actions"("agreementId", "createdAt");

-- CreateIndex
CREATE INDEX "onchain_agreement_actions_orgId_action_idx" ON "onchain_agreement_actions"("orgId", "action");

-- CreateIndex
CREATE INDEX "onchain_agreement_actions_txHash_idx" ON "onchain_agreement_actions"("txHash");

-- CreateIndex
CREATE INDEX "onchain_conditions_agreementId_authorized_released_idx" ON "onchain_conditions"("agreementId", "authorized", "released");

-- CreateIndex
CREATE UNIQUE INDEX "onchain_conditions_agreementId_conditionId_key" ON "onchain_conditions"("agreementId", "conditionId");

-- CreateIndex
CREATE UNIQUE INDEX "onchain_streams_agreementId_key" ON "onchain_streams"("agreementId");

-- CreateIndex
CREATE INDEX "onchain_streams_recipientAddress_idx" ON "onchain_streams"("recipientAddress");

-- AddForeignKey
ALTER TABLE "organizations" ADD CONSTRAINT "organizations_defaultLedgerAccountId_fkey" FOREIGN KEY ("defaultLedgerAccountId") REFERENCES "ledger_accounts"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "users" ADD CONSTRAINT "users_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "accounts" ADD CONSTRAINT "accounts_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "sessions" ADD CONSTRAINT "sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "wallets" ADD CONSTRAINT "wallets_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ledger_accounts" ADD CONSTRAINT "ledger_accounts_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ledger_accounts" ADD CONSTRAINT "ledger_accounts_walletId_fkey" FOREIGN KEY ("walletId") REFERENCES "wallets"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ledger_entries" ADD CONSTRAINT "ledger_entries_ledgerAccountId_fkey" FOREIGN KEY ("ledgerAccountId") REFERENCES "ledger_accounts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "onchain_transactions" ADD CONSTRAINT "onchain_transactions_walletId_fkey" FOREIGN KEY ("walletId") REFERENCES "wallets"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "contacts" ADD CONSTRAINT "contacts_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "idempotency_keys" ADD CONSTRAINT "idempotency_keys_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "invoices" ADD CONSTRAINT "invoices_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "invoices" ADD CONSTRAINT "invoices_paymentLinkId_fkey" FOREIGN KEY ("paymentLinkId") REFERENCES "payment_links"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "invoices" ADD CONSTRAINT "invoices_paidTxId_fkey" FOREIGN KEY ("paidTxId") REFERENCES "onchain_transactions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "invoice_events" ADD CONSTRAINT "invoice_events_invoiceId_fkey" FOREIGN KEY ("invoiceId") REFERENCES "invoices"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payment_links" ADD CONSTRAINT "payment_links_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payment_links" ADD CONSTRAINT "payment_links_receivingLedgerAccountId_fkey" FOREIGN KEY ("receivingLedgerAccountId") REFERENCES "ledger_accounts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payment_link_payments" ADD CONSTRAINT "payment_link_payments_paymentLinkId_fkey" FOREIGN KEY ("paymentLinkId") REFERENCES "payment_links"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payment_link_payments" ADD CONSTRAINT "payment_link_payments_txId_fkey" FOREIGN KEY ("txId") REFERENCES "onchain_transactions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "allocation_rules" ADD CONSTRAINT "allocation_rules_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "allocation_rules" ADD CONSTRAINT "allocation_rules_sourceLedgerAccountId_fkey" FOREIGN KEY ("sourceLedgerAccountId") REFERENCES "ledger_accounts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "allocation_rules" ADD CONSTRAINT "allocation_rules_targetLedgerAccountId_fkey" FOREIGN KEY ("targetLedgerAccountId") REFERENCES "ledger_accounts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "allocation_rule_executions" ADD CONSTRAINT "allocation_rule_executions_allocationRuleId_fkey" FOREIGN KEY ("allocationRuleId") REFERENCES "allocation_rules"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payees" ADD CONSTRAINT "payees_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payees" ADD CONSTRAINT "payees_contactId_fkey" FOREIGN KEY ("contactId") REFERENCES "contacts"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payroll_schedules" ADD CONSTRAINT "payroll_schedules_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payroll_schedules" ADD CONSTRAINT "payroll_schedules_sourceLedgerAccountId_fkey" FOREIGN KEY ("sourceLedgerAccountId") REFERENCES "ledger_accounts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payroll_runs" ADD CONSTRAINT "payroll_runs_payrollScheduleId_fkey" FOREIGN KEY ("payrollScheduleId") REFERENCES "payroll_schedules"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payroll_runs" ADD CONSTRAINT "payroll_runs_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payroll_runs" ADD CONSTRAINT "payroll_runs_sourceLedgerAccountId_fkey" FOREIGN KEY ("sourceLedgerAccountId") REFERENCES "ledger_accounts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payroll_runs" ADD CONSTRAINT "payroll_runs_initiatedBy_fkey" FOREIGN KEY ("initiatedBy") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payroll_runs" ADD CONSTRAINT "payroll_runs_approvedBy_fkey" FOREIGN KEY ("approvedBy") REFERENCES "users"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payroll_run_items" ADD CONSTRAINT "payroll_run_items_payrollRunId_fkey" FOREIGN KEY ("payrollRunId") REFERENCES "payroll_runs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payroll_run_items" ADD CONSTRAINT "payroll_run_items_payeeId_fkey" FOREIGN KEY ("payeeId") REFERENCES "payees"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "payroll_run_items" ADD CONSTRAINT "payroll_run_items_txId_fkey" FOREIGN KEY ("txId") REFERENCES "onchain_transactions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "yield_positions" ADD CONSTRAINT "yield_positions_ledgerAccountId_fkey" FOREIGN KEY ("ledgerAccountId") REFERENCES "ledger_accounts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "yield_redemption_requests" ADD CONSTRAINT "yield_redemption_requests_ledgerAccountId_fkey" FOREIGN KEY ("ledgerAccountId") REFERENCES "ledger_accounts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "yield_redemption_requests" ADD CONSTRAINT "yield_redemption_requests_yieldPositionId_fkey" FOREIGN KEY ("yieldPositionId") REFERENCES "yield_positions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "savings_rules" ADD CONSTRAINT "savings_rules_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "savings_rules" ADD CONSTRAINT "savings_rules_sourceLedgerAccountId_fkey" FOREIGN KEY ("sourceLedgerAccountId") REFERENCES "ledger_accounts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "savings_rules" ADD CONSTRAINT "savings_rules_targetLedgerAccountId_fkey" FOREIGN KEY ("targetLedgerAccountId") REFERENCES "ledger_accounts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "savings_rule_executions" ADD CONSTRAINT "savings_rule_executions_savingsRuleId_fkey" FOREIGN KEY ("savingsRuleId") REFERENCES "savings_rules"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recurring_transfers" ADD CONSTRAINT "recurring_transfers_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recurring_transfers" ADD CONSTRAINT "recurring_transfers_sourceLedgerAccountId_fkey" FOREIGN KEY ("sourceLedgerAccountId") REFERENCES "ledger_accounts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recurring_transfers" ADD CONSTRAINT "recurring_transfers_destinationLedgerAccountId_fkey" FOREIGN KEY ("destinationLedgerAccountId") REFERENCES "ledger_accounts"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recurring_transfers" ADD CONSTRAINT "recurring_transfers_createdBy_fkey" FOREIGN KEY ("createdBy") REFERENCES "users"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recurring_transfer_executions" ADD CONSTRAINT "recurring_transfer_executions_recurringTransferId_fkey" FOREIGN KEY ("recurringTransferId") REFERENCES "recurring_transfers"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "recurring_transfer_executions" ADD CONSTRAINT "recurring_transfer_executions_txId_fkey" FOREIGN KEY ("txId") REFERENCES "onchain_transactions"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "transaction_categories" ADD CONSTRAINT "transaction_categories_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "transaction_categorizations" ADD CONSTRAINT "transaction_categorizations_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "transaction_categorizations" ADD CONSTRAINT "transaction_categorizations_onchainTransactionId_fkey" FOREIGN KEY ("onchainTransactionId") REFERENCES "onchain_transactions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "transaction_categorizations" ADD CONSTRAINT "transaction_categorizations_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "transaction_categories"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "spending_anomalies" ADD CONSTRAINT "spending_anomalies_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "spending_anomalies" ADD CONSTRAINT "spending_anomalies_onchainTransactionId_fkey" FOREIGN KEY ("onchainTransactionId") REFERENCES "onchain_transactions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "multisig_signers" ADD CONSTRAINT "multisig_signers_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "multisig_signers" ADD CONSTRAINT "multisig_signers_userId_fkey" FOREIGN KEY ("userId") REFERENCES "users"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "multisig_treasuries" ADD CONSTRAINT "multisig_treasuries_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "multisig_proposals" ADD CONSTRAINT "multisig_proposals_treasuryId_fkey" FOREIGN KEY ("treasuryId") REFERENCES "multisig_treasuries"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "onchain_agreements" ADD CONSTRAINT "onchain_agreements_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "onchain_agreement_actions" ADD CONSTRAINT "onchain_agreement_actions_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "onchain_agreement_actions" ADD CONSTRAINT "onchain_agreement_actions_agreementId_fkey" FOREIGN KEY ("agreementId") REFERENCES "onchain_agreements"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "onchain_conditions" ADD CONSTRAINT "onchain_conditions_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "onchain_conditions" ADD CONSTRAINT "onchain_conditions_agreementId_fkey" FOREIGN KEY ("agreementId") REFERENCES "onchain_agreements"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "onchain_streams" ADD CONSTRAINT "onchain_streams_orgId_fkey" FOREIGN KEY ("orgId") REFERENCES "organizations"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "onchain_streams" ADD CONSTRAINT "onchain_streams_agreementId_fkey" FOREIGN KEY ("agreementId") REFERENCES "onchain_agreements"("id") ON DELETE CASCADE ON UPDATE CASCADE;

